.TodoFormWrapper {
    margin-top: 200px;
    list-style: none;
    font-size: 23px;
    text-transform: capitalize;
}

.TodoFormWrapper__task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TodoFormWrapper input {
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.TodoFormWrapper button {
    padding: 10px;
    cursor: pointer;
}

.TodoFormWrapper__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TodoFormWrapper__inner  {
    border: 2px solid black;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.TodoFormWrapper__inner li {
    margin: 0 20px;
}
